body {
  /* background-image: url("../images/night-sky.jpg"); */
  background-position: left top;
  font-family: 'Montaga', serif;
}

h1 {
  color: white;
  font-family: 'Yusei Magic', sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 10% 0 10% 0;
}

h2 {
  color: white;
  font-family: 'Yusei Magic', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  padding: 3% 0 5%;
}

/* navigation bar */
.navbar {
  padding: 0 0 8% 0;
}

.navbar-brand {
  font-size: 1.8rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* section 1 title */
#title {
  background-color: #0d335d;
  padding: 5% 12% 10%;
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 1rem;
}

.btn-circle-lg {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 1.3rem;
}

.enter-button {
  text-align: center;
}

.title-img {
  height: 450px;
  width: 450px;
  margin-left: 20%;
  padding-right: 0;
  text-align: center;
}



/* Section 2 Feature */
#feature {
  padding: 10% 12% 6%;
  text-align: center;
}

.feature-icon {
  color: #11698e;
}

.feature-icon:hover {
  color: #1a508b;
}

.feature-heading {
  font-size: 2.5rem;
  padding: 3% 3%;
}

.feature-text {
  color: grey;
}

/* Section 3 Scenarios */
#scenarios {
  background-color: #11698e;
  color: white;
  padding: 5% 12% 10%;
  text-align: center;
}

.card {
  background-color: #11698e;
}

.card-row {
  padding: 5% 0 0;
}

/* Section 4 manager */
#manager {
  padding: 5% 12% 10%;
  text-align: center;
}

/* Section 5 ending */
#ending {
  background-color: #11698e;
  padding: 5% 12% 2%;
}

.carousel-item {
  color: white;
  text-align: center;
}

.quote-img {
  margin-right: 5%;
}

/* Section 6 footer */
#footer {
  padding: 5% 12% 10%;
  text-align: center;
}
.footer-icon {
  padding: 0 1% 3%;
}
